body * {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0;
  min-height: 100%;
}

body.anvil-show-banner #appGoesHere {
    margin-top: 50px;
    position: relative;
}

header {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding: 0px 40px;
  min-height: 64px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: %color:Header Background%;
}

header>.title {
  font-size: 20px;
}

header>.nav-links>span {
  margin: 0 10px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}


/* ---- OWN ADJUSTMENTS ----------------------- */
/* Apply gradient background to the whole page */
body, html {
  height: 100%;
  margin: 0;
}

#loadingSpinner {
    border-radius: 0;
    border-radius: 0;
    box-shadow: none;/*0px 0px 10px 10px #fcfcfc;*/
    background-color: transparent;
    background-image: url(_/theme/pics/LoadingSpinner_circle.svg) !important;
}

/* underlining the activated model and watchlist in the navigation */
.anvil-role-underline-link .link-text {
  text-decoration: underline !important;
  /*text-decoration-color: %color:Orange% !important;*/
  text-decoration-color: rgba(253, 101, 45, 0.8) !important;
  text-decoration-thickness: 1px !important;
  text-underline-offset: 2px !important;
}

.anvil-role-input_margin {
  margin: 0 20px;  
}
.anvil-role-landingpage_artist2_background {
  background-image: url('_/theme/pics/Artist2.png');
  background-position: center 25%;
  background-size: cover;
}
.anvil-role-landingpage_artist_background {
  background-image: url('_/theme/pics/Artist.png');
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 54px);
  max-height: 1200px;
  #margin: 0;
}
.anvil-role-landingpage_noartists_background {
  background-image: url('_/theme/pics/Fans2.jpg');
  background-position: center center;
  background-size: cover;
}

/* Navigation Roles */
.anvil-role-nav_main {
  font-size: 14px;
  font-weight: bold;
  color: %color:Text_DecentWhite%;
  padding-left: 5px !important;
}
.anvil-role-nav_sub {
  font-size: 12px;
  color: %color:Text_DecentWhite%;
  padding-left: 15px !important;
}

.anvil-role-call_to_action_button button {
  font-size: 18px;
  border: 2px %color:Grid_Black%;
  text-shadow: 0 0 0 hsla(0,0%,100%,.5);
}
.anvil-role-text_box {
  color: %color:Text_DarkGrey%;
}
.anvil-role-text_box_small {
  font-size: 16px;
  font-weight: normal;
  color: %color:Text_LightDark%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* CSS for formatting tables STARTS here*/
.anvil-role-bottom_line {
  border-bottom: 1px solid %color:Text_DecentWhite%;
}
.anvil-role-talent-dev-custom-class {
  font-family: Gs-medium;
  font-size: 16px;
}
.holder:has(> .anvil-role-table_content_talent_dev-2) {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px !important;
  /* justify-content: space-between; */
}
.anvil-role-table_content_talent_dev {
  font-family: GS-regular;
  font-size: 18px;
  color: %color:Text_DecentWhite%;
  position: relative !important;
}
/* Customize width of HEADER 1 in Watchlist Overview Table */
.anvil-role-table_content_talent_dev-1 {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  flex-grow: 1;
}
/* Customize width of COLUMN 1 in Watchlist Overview Table */
.data-row-col:has(> .anvil-role-col-artist){
  width: auto !important;
  flex-grow: 1 !important;
}
/* Customize width of HEADER 2 in Watchlist Overview Table */
.anvil-role-table_content_talent_dev-2 {
  position: relative !important;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 7px;
  width: 0;
  text-align: center !important;
  color: white;
}
.anvil-role-transparent-headers{
  color: transparent;
}
.anvil-role-left-alignment-header{
  text-align: left !important;
}
.anvil-role-table_content_small {
  font-family: GS-regular;
  font-size: 16px;
  color: %color:Text_DecentWhite%;
  font-weight: normal;
}

.anvil-role-center-table-element {}

/* This code makes sure the Artist names in the tables in the Discvoer by AI >> Releases page are centered. In case the box in which they are located changes the class might need to be changed as well */
.anvil-panel-col.anvil-panel-col-ZUUXYF:has( .anvil-role-artist_name.anvil-role-center-table-element){
  display: flex;
  align-items: center;
}

/* CSS to Format the Rows of the Dropdown Alert Table in the Related Artists Page STARTS here */
.anvil-role-rows_dropdown {
  padding: 10px 40px 5px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(128,110,137, 0.4);
}
/* CSS to Format the Rows of the Dropdown Alert Table in the Related Artists Page ENDS here */

.anvil-role-rows_discover_page_no_image_table {
  padding: 5px 0px 5px;
  align-items: center;
  justify-items: left;
  border-bottom: 1px solid rgba(128,110,137, 0.4);
}
.anvil-role-rows_discover_page {
  padding: 0px 0px 0px;
  align-items: center;
  justify-items: left;
  border-bottom: 1px solid rgba(128,110,137, 0.4);
}

.anvil-role-rows {
  font-family: GS-regular;
  padding: 0px 20px 0px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(128,110,137, 0.4);
  background: rgba(250, 249, 248, 0.15);
  margin: 5px 0px 5px;
  border-radius: 15px;
}


.anvil-role-related-artist-search-dropdown-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.anvil-role-table_header {
  font-family: Gs-regular;
  font-size: 16px;
  font-weight: normal;
  color: rgb(174, 174, 174);
}
.anvil-role-table_content {
  font-family: GS-regular;
  font-size: 18px;
  color: %color:Text_DecentWhite%;
  position: relative !important;
  width: auto !important;
}
/* Customize width of COLUMN 9 in Watchlist Overview Table */
/* .data-row-col:has(> .anvil-role-feature){ */
  /* width: 110px !important; */
  /* width: 150px !important;
  min-widht: 109px;
  max-width: 150px;
  text-align: center;
} */


.anvil-role-col-artist-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative !important;
}

.anvil-role-table_content_popup {
  font-family: GS-regular;
  font-size: 18px;
  color: %color:Text_DecentWhite%;
  position: relative !important;
  width: auto !important;
}

.anvil-role-table_content_small_orange_underlined {
  font-family: GS-regular;
  font-size: 18px;
  color: %color:Orange%;
  text-decoration: underline !important;
  /* text-decoration-color: %color:Orange%; */
  /* text-decoration-thickness: 2px; */
}

/* Discover Page Buttons for the Release, Success, Fandom, and Music Sections */
.anvil-role-section-background {
  background: linear-gradient(to top left, rgba(51, 51, 51, 0.5) 50%, rgb(40, 40, 40));
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.flow-panel-gutter:has( .anvil-role-section_buttons_focused) {
  padding: 0 15px 0;
}
.anvil-role-section_buttons {
  font-family: GS-light;
  font-size: 20px;
  /* background: linear-gradient(to bottom right, #ee9735, #fd652d); */
  color: rgb(250, 250, 250);
  /* border-radius: 15px; */
  padding: 10px 30px 10px;
  /* text-decoration-color: %color:Orange%; */
  /* text-decoration-thickness: 2px; */
  .link-text {
    font-weight: bold !important;
  }
}
/* .anvil-role-section_buttons:hover {
  background: linear-gradient(to bottom right, #fd652d, #ee9735);
  color: rgb(250, 250, 250);
} */
.anvil-role-section_buttons_focused {
  font-family: GS-medium;
  font-size: 20px;
  /* background: linear-gradient(to bottom right, #ee9735, #fd652d); */
  color: %color:Orange%;
  border-bottom: 2px solid;
  border-color: %color:Orange%;
  /* border-radius: 15px; */
  padding: 10px 30px 10px;
  /* text-decoration-color: %color:Orange%; */
  /* text-decoration-thickness: 2px; */
}
/* .anvil-role-section_buttons_focused:hover {
  color: rgb(250, 250, 250)
} */
/* Discover Page Buttons for the Release, Success, Fandom, and Music Sections */

.anvil-data-grid>.data-grid-footer-panel>.pagination-buttons>a {
  font-size: 18px;
}

/* CSS for the Navigation Buttons at the bottom of a table STARTS here*/
.anvil-data-grid>.data-grid-footer-panel>.footer-slot {
  flex: 0 0 auto !important;
}

.anvil-data-grid>.data-grid-footer-panel {
  justify-content: center;
}
/* CSS for the Navigation Buttons at the bottom of a table ENDS here*/

/* CSS for formatting tables ENDS here*/

/* CSS for the Rate Artist Button STARTS here*/
.anvil-role-rate-artist-button {
  text-align: right !important;
}

.anvil-role-rate-artist-button .btn.btn-default.to-disable{
  font-family: GS-regular;
  background: linear-gradient(to bottom right, #ee9735, #fd652d);
  color: rgb(253, 101, 45);
  border-radius: 25px;
  border-color: rgb(253, 101, 45);
  text-shadow: rgb(0, 0, 0);
  width: 220px;
  font-size: 18px;
  color: white;
  text-shadow: 0 0px 0 hsla(0, 0%, 100%, .5) !important;
}
.anvil-role-rate-artist-button .btn.btn-default.to-disable:hover{
  background: linear-gradient(to bottom right, #fd652d, #ee9735);
}

/* CSS for the Rate Artist Button ENDS here*/

/* CSS for the Search Bar STARTS here*/
.anvil-role-search-bar-related-artists {
  font-family: GS-regular;
  width: 50%;
  margin: 0 25% 0;
  border-radius: 25px;
  background-image: url("_/theme/icons/Magnifying_glass.svg");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: left !important;

}

.anvil-role-search-bar-related-artists[type="text"] {
  padding: 7px 8px 5px 40px;
  background-color: rgba(128,110,137, 0.4);;
  color: white;
}

/* CSS for the Search Bar ENDS here*/
.anvil-role-eval_button {
  font-family: GS-regular;
  font-size: 26px;
}
/* Titles CSS Starts Here  */
.anvil-role-title-main-out {
  font-family: GS-semibold;
  font-size: 36px;
  color: %color:Orange%;  
}
.anvil-role-title {
  font-family: GS-semibold;
  font-size: 36px;
  color: rgb(174, 174, 174);
  /* color: %color:Orange%;   */
}
.anvil-role-title p {
  margin: 0 !important;
}
.anvil-role-sub_title {
  font-family: GS-semibold;
  font-size: 22px;
  color: %color:Text_Grey%;
  padding-left: 10px;
}

.anvil-role-sub_title-regular {
  font-family: GS-medium;
  font-size: 18px;
  color: %color:Text_White%;
  padding-left: 5px;
}
.anvil-role-sub_title-regular-tile {
  font-family: GS-regular;
  font-size: 14px;
  color: %color:Text_Grey%;
  padding-left: 10px;
}
.anvil-role-music-genre-tile {
  margin: 5px 0px;
}
.anvil-role-music-icons-tile {
  color: white;
  padding: 0px 5px 0px 0px;
  margin: 10px 0px;
  font-size: 20px;
}

.anvil-role-music-icons-tile:visited {
  color: white
}



/* Titles CSS Ends Here  */

/* CSS for Tiles STARTS Here  */
@media (min-width: 992px) {
    .anvil-role-POST_LOGIN_PAGE .anvil-panel-section-container.anvil-container-overflow {
        max-width: 95%;
    }
}
.anvil-role-title-tile {
  font-family: GS-medium;
  font-size: 16px;
  color: rgb(250, 250, 250);
  /* color: %color:Orange%;   */
}
.anvil-role-description-tile {
  font-family: GS-regular;
  font-size: 14px;
  color: %color:Text_Grey% !important;
  width: auto !important;
}
.anvil-role-description-tile-bio-text {
  font-family: GS-regular;
  font-size: 13px;
  color: %color:Text_DecentWhite% !important;
  width: auto !important;
  padding: 0px
  .label-text {
    padding-top: 0px !important;
  }
}
.anvil-role-artist-image {
  /* position: absolute !important; */
  border-radius: 15px;
  height: auto !important;
  width: auto;
  max-width: 330px; 
  max-height: 330px;
  top: 40% !important;
  left: 6% !important;
  margin: 5px;
}
.anvil-role-flex-container-parent-tile {
  display: flex;
  align-items: stretch;  /* Ensure columns stretch to the same height */
  width: 100%;
  height: 100%;
  gap: 10px;  /* Optional: space between columns */
}
.anvil-role-tile-background-left {
  /* flex: 3; */
  background: linear-gradient(to top left, rgba(259, 250, 250, 0.1) 50%, rgb(31, 11, 59));
  border-radius: 15px;
  /* border: 0.5px solid */
  /* height: 350px; */
}
.anvil-role-tile-background-right {
  /* flex: 1; */
  background: linear-gradient(to top left, rgba(259, 250, 250, 0.1) 50%, rgb(31, 11, 59));
  border-radius: 15px;
  min-height: 355.7px;
  max-height: 450px;
  /* height: 350px; */
}
.anvil-role-tile-background-general {
  background: linear-gradient(to top left, rgba(259, 250, 250, 0.1) 50%, rgb(31, 11, 59));
  border-radius: 15px;
  /* height: 350px; */
}

.anvil-role-artist-name-details-popup > .flow-panel-gutter{
  align-items: center;
}

.anvil-role-custom-alert {
    padding: 20px;
    background: linear-gradient(to top left, rgb(43, 24, 72) 50%, rgb(134, 59, 59));
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 101%; /* Ensure the alert does not exceed 80% of the screen width */
    max-height: 50vh; /* Ensure the alert does not exceed 80% of the viewport height */
    overflow: hidden; /* Hide overflow to ensure internal scrolling */
    color: white;
    /* overflow-y: auto; */
}

.anvil-role-alert-long-text {
  height: 40vh;
  overflow-y: auto; 
  padding: 20px 0px 0px;
}

.modal-body:has(> .anvil-role-custom-alert) {
  padding: 0px;
}
.modal-dialog:has( .anvil-role-custom-alert) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) !important;
}


.anvil-role-tile-background-left .anvil-panel-col-BINRLY.wrap-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anvil-role-tile-background-left .anvil-panel-col-SKLDLY.wrap-mobile {
  margin: 1% 1% 5% 0;
}
.anvil-role-tile-background .anvil-panel-row-MEAAVE.wrap-mobile {
  margin: 15px 0 0 0;
}
.anvil-role-tile-background .anvil-panel-row-TKGZMO.wrap-mobile .col-padding.col-padding-medium {
}

@media (min-width: 992px) {
  .anvil-role-description-tile-bio-text .anvil-panel-section-container.anvil-container-overflow{
    width: 100%;
  }
}
.anvil-role-artist-name-tile{
  font-family: Gs-medium;
  letter-spacing: 1px;
  font-size: 22px;
  color: %color:Text_White%;
  .label-text {
    padding-bottom: 0px !important;
  }
}

.anvil-role-country-flag-icon {
  height: auto !important;
  width: 27px !important;
  img {
    height: auto !important;
  }
}

.anvil-role-star-tile {
  color: white;
  padding: 10px 0px 0px;
}

.anvil-role-genre-box {
  font-family: Gs-regular;
  display: inline-block;
  padding: 0px 20px;
  margin: 0px 2px;
  border-radius: 10px;
  background-color: rgb(130, 39, 118); /* Example background color */
  border: 1px solid rgb(130, 39, 118); /* Example border color */
  font-size: 14px; /* Example font size */
  color: rgb(250, 250, 250); /* Example text color */
  white-space: nowrap;
  gap: 5px;
}
.flow-panel.flow-spacing-medium>.flow-panel-gutter {
  margin-left: 0px;
  margin-right: 10px;
}
.flow-panel.flow-spacing-medium>.flow-panel-gutter>.flow-panel-item {
  margin-right: 1px;
  margin-left: 1px;
}

.anvil-role-score-tile-background {
  background-color: rgb(25, 16, 53);
  /*background: conic-gradient(
    #FF5F6D 0% 68%,
    #FFC371 68% 100%
  );*/
  border-radius: 100px;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anvil-role-highlights-tile-background {
  /*background: linear-gradient(to top left, rgba(259, 250, 250, 0.1) 50%, rgb(131, 111, 59));*/
  background: linear-gradient(to top left, rgba(25, 16, 53, 0.3) 30%, rgb(25, 16, 53));
  border-radius: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 5px 5px;
  min-height: 80px;
  min-width: 80px; 
  overflow: hidden;
}

.anvil-role-tile-background-right .anvil-panel-row-XBWMVA .anvil-panel-col-RCCOIP .col-padding.col-padding-medium {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anvil-role-value-regular-tile {
  font-family: GS-regular;
  font-size: 24px;
  color: %color:Text_White%;
  padding-left: 10px;
}

/* CSS for Tiles ENDS Here  */

/* CSS for the Sort Dropdown of Visuals Starts Here*/
/* Style the dropdown */
.anvil-component.anvil-role-sort-dropdown select {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 4px 0px 0px 0px;
  width: 155px;
  margin: 0 25px 0 0;
  text-align: center;
  /* Remove the default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

/* Container for the custom dropdown styling */
.anvil-component.anvil-role-sort-dropdown {
  position: relative;
  display: flex;
  justify-content: right; 
  margin: 0 40px 0 0;
}

/* Custom dropdown icon */
.anvil-component.anvil-role-sort-dropdown::after {
    content: '\f0b0'; /* Funnel icon from Font Awesome */
    font-family: 'FontAwesome';
    font-size: 16px;
    color: white;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

/* Style the options */
.anvil-component.anvil-role-sort-dropdown select option {
    background-color: black;
    color: white;
}
/* CSS for the Sort Dropdown of Visuals Ends Here*/


.anvil-role-description-login {
  font-family: GS-regular;
  font-size: 14px;
  color: %color:Text_Grey% !important;
  width: 40%;
  margin: 0 0 0;
}

.anvil-role-description {
  font-family: GS-regular;
  font-size: 14px;
  color: %color:Text_Grey% !important;
  width: 40%;
  margin: 0 30% 0;
  padding: 0 0 20px !important; 
}
.anvil-role-description-bio {
  font-family: GS-regular;
  font-size: 14px;
  color: %color:Text_DecentWhite% !important;
  font-weight: normal;
  /* width: 40%;
  margin: 0 30% 0;
  padding: 0 0 20px !important;  */
}
.anvil-role-description-bio-link {
  font-family: GS-regular;
  font-size: 11px;
  color: %color:Orange% !important;
  font-weight: normal;
  /* width: 40%;
  margin: 0 30% 0;
  padding: 0 0 20px !important;  */
}
.anvil-role-sort-label {
  font-family: GS-medium;
  font-size: 16px;
  color: white;
}

.anvil-role-note {
  font-size: 14px;
  color: %color:Text_DecentWhite% !important;
  padding-left: 7px;
  font-weight: normal;
}
.anvil-label>.label-text,
a>.link-text {
  display:inline-block;
  padding-top: 0px;
  padding-bottom:5px;
  white-space:pre-wrap;
  font-weight: normal;
}
.anvil-role-Discover_xypanel {
  margin: 10px 0 0 0;
}
.anvil-role-Discover_artist_name {
  font-family: GS-medium;
  font-size: 20px;
  color: %color:Text_White%;
  margin: 10px 0 0 0;
}
.anvil-role-artist_name {
  font-family: GS-medium;
  font-size: 18px;
  color: %color:Text_White%;
}
.anvil-role-artist_name_shadow {
  font-size: 22px;
  font-weight: bold;
  color: %color:Text_White%;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
}
.anvil-role-artist_name_shadow_arrows_left{
  left: 130px !important;
}
.anvil-role-artist_name_shadow_arrows_right {
  left: 150px !important;
}
.anvil-role-artist_name_shadow_arrows_left_home{
  left: 115px !important;
}
.anvil-role-artist_name_shadow_arrows_right_home {
  left: 135px !important;
}
.anvil-role-little_note {
  font-size: 12px;
  color: %color:Text_Grey%;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
}
.anvil-role-grid {
  /* background-color: %color:Grid_Black%; */
  background: linear-gradient(to top left, rgba(250, 250, 250, 0.08) 50%, rgb(31, 11, 59));
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.anvil-role-grid-main {
  background: linear-gradient(to top left, rgba(250, 250, 250, 0.08) 50%, rgb(31, 11, 59));
  border-radius: 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0;
}
.anvil-role-value {
  font-size: 24px;
  font-weight: bold;
  color: %color:Text_White%;
  margin: 0;
  padding: 0 !important;
}

.anvil-role-button-distribution {
  display: flex;
  justify-content: space-between;
}

.anvil-role-button-distribution .holder {
  height: 30px !important;
}

.anvil-role-artist-image-tables {
  border-radius: 10px;
}

.anvil-role-feature-login {
  font-size: 14px;
  font-weight: bold;
  color: %color:Text_Grey%;
  padding: 0 !important;
  /* max-width: 110%;  */
}

.anvil-role-feature-login  .btn.btn-default.to-disable{
  font-family: GS-regular;
}
.data-row-col:has(> .anvil-role-feature-talent-dev) {
  width: auto !important;
  flex-grow: 1 !important;
  /* width: 105% !important; */
  /* max-width: 120%;  */
}

.anvil-role-feature {
  font-size: 14px;
  font-weight: bold;
  color: %color:Text_Grey%;
  padding: 0 !important;
  /* width: 105% !important; */
  /* max-width: 120%;  */
}

.anvil-role-feature .btn.btn-default.to-disable {
  max-width: 105% !important;
}


.anvil-role-investigate_value {
  font-size: 20px;
  font-weight: bold;
  color: %color:Text_White%;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 15px !important;
  padding-right: 25px !important;
  .label-text {
    padding-top: 5px;
    padding-bottom: 0px;
  }
}
.anvil-role-investigate_feature {
  font-size: 14px;
  font-weight: normal;
  color: %color:Text_Grey%;
  margin: 0, 0, 3px, 0 !important;
  padding-left: 15px !important;
  padding-right: 25px !important;
  .label-text {
    padding-top: 0px !important;
    padding-bottom: 5px;
  }
}
a.anvil-role-investigate_feature:hover, a.anvil-role-investigate_feature:active, a.anvil-role-investigate_feature:focus {
  color: %color:Text_White%;
}

div.row {
  margin-bottom: 0 important!;
}
/* -------------------------------------------- */

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: %Main_Black%;
}

.body {
  background-color: %color:Main_Black%;
      background: linear-gradient(to bottom, rgb(30, 6, 74), black);
}

.anvil-role-related-artist-layout {
  margin-top: 40px;
}

/* CSS to Format the Dropdown Alert in the Related Artists Page STARTS here */
.modal-backdrop.in {
  opacity: 0.25;
}

.anvil-role-background-gradient-alerts {
  background: linear-gradient(to top left, rgb(43, 24, 72) 50%, rgb(134, 59, 59));
  border-radius: 10px;
  div {
    margin: 0px;
  }
}

.modal-content {
  border-radius: 15px;
}

.modal-body:has(> .anvil-role-background-gradient-alerts) {
  padding: 0px !important;
}

.modal-dialog:has( .anvil-role-background-gradient-alerts) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) !important;
}

.modal.fade.alert-modal.in {
  display: flex !important;
  justify-content: center;
}
/* to distribute the column headers evenly  */
.holder:has(> .anvil-role-table_content_popup) {
  display: flex !important;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1081px) {
  .modal-dialog {
    margin: 130px 0 0 90px;
  }
}
/* CSS to Format the Dropdown Alert in the Related Artists Page ENDS here */

a, a:visited {
  color: rgb(253, 101, 45);
}

a:hover, a:active, a:focus {
  color: %color:Orange%;
}

.placeholder {
  padding: 5px;
  border: 2px dashed #888;
}



anvil-role-test {
  width: 100%;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 1px 3px #888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-right {
  float: right;
  font-size: 14px !important;
}

.nav-elt {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  position: relative;
}

.nav-elt.placeholder {
  margin-top: 5px;
  opacity: 0.8;
  color: #888;
  visibility: hidden;
}

body.anvil-highlight .nav-elt.placeholder {
  visibility: visible;
}

.nav-elt .drop-here {
  position: absolute;
  top: 0;
  left: -7.5px;
  bottom: 0;
  width: 5px;
}

/* Was padding: 24px 16px; */
.designer .instructions {
    padding: 24px 16px;
    font-size: 14px;
    text-align: center;
    color: #666;
}

/* Give enough space for card drop-shadows */
.cards > div > .column-panel > .anvil-panel-section > .anvil-panel-section-container {
    padding: 0 0px;
}

.cards > .anvil-container {
    /*outline: none !important;*/
}

.anvil-role-card,
.designer .anvil-highlight .anvil-role-card {
    background-color: grey;
    box-shadow: 1px 2px 4px #888;
    font-weight: normal;
    font-size: 14px;
    outline: none;
    padding: 15px 0;

}
  
.anvil-role-card>.anvil-panel-section>.anvil-panel-section-container {
    padding: 0 15px;
}

/* Responsive bits: Make the menu overlay the screen
   (and hidden by default) rather than displacing it
   on small screens
*/

@media(max-width:767px) {
  .cards {
    padding: 0px 0px;
  }
}

.sidebar {
    background-color: %color:Sidebar Background%;
    color: white;
    padding: 10px 0;
    flex-shrink: 0;

    overflow-y: auto;
    overflow-x: hidden;
}

.nav {
    flex: 0 0;
    flex-basis: auto;
    flex-basis: content;
  
    z-index: 10;

    position: relative;
    background-color: white;
    padding: 8px 16px 7px; /* expect 5px margin */
    min-height: 62px;
    font-size: 16px;
    color: %color:Accent 1%;
}

.nav > .menu-btn {
    color: %color:Sidebar Background%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 5px;
    margin-top: 7px;
    text-align: center;
}

/* ---- OWN FONT ----------------------- */
@font-face {
  font-family: 'GS-bold';
  src: url("_/theme/fonts/GeneralSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: 'GS-extralight';
  src: url("_/theme/fonts/GeneralSans-Extralight.otf") format("opentype");
}
@font-face {
  font-family: 'GS-light';
  src: url("_/theme/fonts/GeneralSans-Light.otf") format("opentype");
}
@font-face {
  font-family: 'GS-medium';
  src: url("_/theme/fonts/GeneralSans-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'GS-regular';
  src: url("_/theme/fonts/GeneralSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'GS-semibold';
  src: url("_/theme/fonts/GeneralSans-Semibold.otf") format("opentype");
}
/* ---- OWN FONT ----------------------- */

/* Other Fonts  */
/* From https://fonts.googleapis.com/css?family=Roboto */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Khand-Regular';
  src: url("_/theme/fonts/Khand-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Khand-Semibold';
  src: url("_/theme/fonts/Khand-SemiBold.otf") format("opentype");
}
/* Other Fonts */


/* Footer bar */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  background-color:  %color:Primary 500%;;
  color: white;
  min-height: 70px;
  text-align: center;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  padding: 0 72px 0 72px;
  z-index: 1;
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12), 0 -2px 4px -1px rgba(0, 0, 0, 0.2);    
}

.footer > .footer-slot > .placeholder { outline: 1px dotted; padding-left: 16px; padding-right: 16px; margin-top: 12px; display:none; }
.anvil-highlight .footer > .footer-slot > .placeholder { display:block; }

.footer {
  background-color: %color:Grid_Black%;
  padding: 0 !important;
  margin: 0 !important;
}

.footer a, .footer a.anvil-component {
  padding: 5px;
  border-radius: 20px;
}

footer a, .footer .anvil-component {
  display: block;
  color: white;
  line-height: 30px;
  min-width: 30px;
  min-height: 30px;
}
.footer a:hover, .footer a:active {
  color: #eee; text-decoration: none;
  background-color: %color:Primary 700%;
}
.footer a .link-text {
  padding: 0 4px;
}

/* CSS for the Sidebar on the Discover Page STARTS Here */
.container-panel {
  display: flex;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
}

#right-sidebar {
  position: fixed;
  right: 250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 999;
}

#right-sidebar.open {
  right: 0;
}

.sidebar-button {
  position: fixed;
  right: 0;
  top: 20%;
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: right 0.3s;
}

.sidebar-button.open {
  right: 250px;
}

.right-sidebar .buttons button {
  background-color: #6f42c1;
  border: none;
  color: white;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.right-sidebar .buttons button:last-child {
  margin-right: 0;
}
.right-sidebar .section {
  margin-bottom: 20px;
}
.right-sidebar .section h3 {
  margin-top: 0;
}
.right-sidebar .contact p {
  margin: 5px 0;
}
.right-sidebar .description,
.right-sidebar .comment {
  background-color: #2e2e2e;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}


/* CSS for the Sidebar on the Discover Page ENDS Here */
