/*
----------------------------------------------------------------------------------------
Area 1: Base
----------------------------------------------------------------------------------------
1.1. Grid */
.anvil-role-grid {
  background: linear-gradient(to bottom right, var(--Purple), rgba(250, 250, 250, 0.05));  /* no clean color! */
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.anvil-role-grid-main {
  background: linear-gradient(to bottom right, var(--Purple), rgba(250, 250, 250, 0.05));  /* no clean color! */
  border-radius: 12px;
  padding: 5px 7px 5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ----------------------------
1.2. Width (no!) */
.anvil-role-width-100 {width: 100% !important}
.anvil-role-width-50px {width: 50px}
.anvil-role-width-100px {width: 100px}
.anvil-role-width-150px {width: 150px}
.anvil-role-width-200px {width: 200px}
.anvil-role-width-300px {width: 300px}
.anvil-role-width-500px {width: 500px}
.anvil-role-width-750px {width: 750px}

.anvil-role-height-40px {height: 40px !important;}
.anvil-role-height-40px .btn {height: 40px !important; min-height: 0 !important;}

/* ----------------------------
1.3. Text Color (yes!) */
.anvil-role-orange {color: var(--Orange) !important;}
.anvil-role-white {color: var(--Text_White) !important;}

/* ----------------------------
1.4. Link only on text (needs the class on the link itself as well as its paren e.g. a new column panel) */
.anvil-role-link-text-only {
  display: inline-block;
}
.anvil-role-link-text-only-parent {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

/* ----------------------------
1.5. Opacity (???) */
.anvil-role-opacity-100 {opacity: 100%;}
.anvil-role-opacity-50 {opacity: 50%;}
.anvil-role-opacity-25 {opacity: 25%;}
