/*
----------------------------------------------------------------------------------------
Area 5: Page individual classes
----------------------------------------------------------------------------------------
5.1. Home individual classes */
.anvil-role-home-discover-button {  /* neccessary for flexible positioning */
  left: auto !important;
  right: 1em;
}

/* ----------------------------
5.2. Observe_Listen individual classes */
.anvil-role-listen-complete-element {
  height: calc(100vh + 260px);
  overflow-y: auto;
}
.anvil-role-listen-left-element {
  height: calc(95vh - 85px);
}
.anvil-role-listen-right-element {
  height: calc(95vh - 85px);
}


/* ----------------------------
5.3. Tour on Discover */
.anvil-role-tour-discover-1 {
  margin: 0 !important;
  top: 50%;
  left: -30%;
}
.anvil-role-tour-discover-2 {
  margin: 0 !important;
  top: 10%;
  left: 0%;
}
.anvil-role-tour-discover-3 {
  top: 30px;
}