/*
----------------------------------------------------------------------------------------
Area 3: Buttons
----------------------------------------------------------------------------------------
3.1. Highlight Button (static glow) */
.anvil-role-highlight-button button {
  box-shadow: 0 0 5px var(--Orange), 0 0 9px var(--Orange), 0 0 13px var(--Orange); /* Static orange glow */
  transition: all 0.3s ease; /* Smooth hover effect */
}

/* ----------------------------
3.2. icon buttons */
.anvil-role-icon-button button {
  font-family: Gs-regular;
  font-size: 24px;
  color: var(--Orange);
  background: transparent;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 55px;
}
.anvil-role-icon-button > button:hover {
  background: transparent;
  color: var(--OrangeDiscreet);
}
.anvil-role-icon-button > button:focus,
.anvil-role-icon-button > button:active {
  background: transparent !important;
  color: var(--Orange) !important;
}

/* ----------------------------
3.3. disabled icon buttons disabled */
.anvil-role-icon-button-disabled button {
  font-family: Gs-regular;
  font-size: 24px;
  color: var(--Accent_1);
  background: transparent;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 55px;
}
.anvil-role-icon-button-disabled > button:hover,
.anvil-role-icon-button-disabled > button:focus,
.anvil-role-icon-button-disabled > button:active {
  background: transparent !important;
  color: var(--Accent_1) !important;
}


/* ----------------------------
3.4. icon buttons small */
.anvil-role-icon-button-small button {
  font-family: Gs-regular;
  font-size: 16px;
  color: var(--Orange);
  background: transparent;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 35px;
}
.anvil-role-icon-button-small > button:hover {
  background: transparent;
  color: var(--OrangeDiscreet);
}
.anvil-role-icon-button-small > button:focus,
.anvil-role-icon-button-small > button:active {
  background: transparent !important;
  color: var(--Orange) !important;
}


/* ----------------------------
3.4. icon buttons small */
.anvil-role-icon-button-disabled-small button {
  font-family: Gs-regular;
  font-size: 16px;
  color: var(--Accent_1);
  background: transparent;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 35px;
}
.anvil-role-icon-button-disabled-small > button:hover,
.anvil-role-icon-button-disabled-small > button:focus,
.anvil-role-icon-button-disabled-small > button:active {
  background: transparent !important;
  color: var(--Accent_1) !important;
}


/* where used? (???) */
.anvil-role-save-button-sidebar > button {
  font-family: Gs-regular;
  font-size: 16px;
  color: var(--Orange);
  background: var(--Text_WhiteDiscreet);
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  margin: 10px 0 0 0;
}
.anvil-role-save-button-sidebar > button:hover {
  background: linear-gradient(to top left, rgba(232, 232, 232, 0.8) 50%, var(--Text_WhiteDiscreet));  /* no clean color! */
  color: var(--OrangeDiscreet);
}
.anvil-role-save-button-sidebar > button:focus,
.anvil-role-save-button-sidebar > button:active {
  background: var(--Text_WhiteDiscreet);
  color: var(--Orange);
}


/* ----------------------------
3.2. Play/pause buttons on the Discover and ListenIn page */
.anvil-role-play-spotify-button button {
  font-family: Gs-regular;
  font-size: 24px;
  color: var(--Orange);
  background: transparent;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 55px;
}
.anvil-role-play-spotify-button > button:hover {
  background: transparent;
  color: var(--OrangeDiscreet);
}
.anvil-role-play-spotify-button > button:focus,
.anvil-role-play-spotify-button > button:active {
  background: transparent !important;
  color: var(--Orange) !important;
}

/* ----------------------------
3.4. big round Play Buttons on Discover and ListenIn */
.anvil-role-play-spotify-button-big button {
  font-family: Gs-regular;
  font-size: 44px;
  color: var(--Orange);
  background: transparent;
  padding: 0;
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  width: 55px;
  min-height: 0 !important;
  line-height: 1 !important;
}
.anvil-role-play-spotify-button-big > button:hover {
  background: transparent;
  color: var(--OrangeDiscreet);
}
.anvil-role-play-spotify-button-big > button:focus,
.anvil-role-play-spotify-button-big > button:active {
  background: transparent !important;
  color: var(--Orange) !important;
}

/* ----------------------------
3.5. Call 2 Action Button */
.anvil-role-call-to-action-button button {
  font-family: Gs-regular;
  color: var(--Text_WhiteDiscreet);
  background: var(--Orange);
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  margin: 0;
  padding: 0 25px;
  min-width: 100px;
}
.anvil-role-call-to-action-button > button:hover,
.anvil-role-call-to-action-button > button:focus,
.anvil-role-call-to-action-button > button:active {
  background: var(--OrangeDiscreet);
  color: var(--Text_WhiteDiscreet);
}

/* ----------------------------
3.6. Call 2 Action Button Longer */
.anvil-role-call-to-action-button-longer button {
  font-family: Gs-regular;
  color: var(--Text_WhiteDiscreet);
  background: var(--Orange);
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  margin: 0;
  padding: 0 15px;
  min-width: 500px;
}
.anvil-role-call-to-action-button-longer > button:hover,
.anvil-role-call-to-action-button-longer > button:focus,
.anvil-role-call-to-action-button-longer > button:active {
  background: var(--OrangeDiscreet);
  color: var(--Text_WhiteDiscreet);
}

/* ----------------------------
3.7. Call 2 Action Button Disabled */
.anvil-role-call-to-action-button-disabled button {
  font-family: Gs-regular;
  color: var(--Text_WhiteDiscreet);
  background: var(--Accent_2);
  border: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: 0.5s;
  margin: 0;
  padding: 0 15px;
  min-width: 100px;
}
.anvil-role-call-to-action-button-disabled > button:hover {
  background: var(--Accent_2);
  color: var(--Text_WhiteDiscreet);
}
.anvil-role-call-to-action-button-disabled > button:focus,
.anvil-role-call-to-action-button-disabled > button:active {
  background: var(--Accent_2);
  color: var(--Accent_1);
}

/* ----------------------------
3.8. Other Buttons */
.anvil-role-150px-width button {
  width: 200px
}
.anvil-role-back-button button {
  background: var(--Sangria);
}
