/*
----------------------------------------------------------------------------------------
Area 5: Page individual classes
----------------------------------------------------------------------------------------
5.1. HOME individual classes */
.anvil-role-home-discover-button {  /* neccessary for flexible positioning */
  left: auto !important;
  right: 1em;
}

/* Socials */
.masonry-item-test {
  iframe {
    .EmbedVideo {
        position: relative;
        width: 100%;
        height: auto; /* Allow it to adjust to content */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aand {
        position: relative;
        width: 100%;
        height: auto; /* Let it fit its content */
    }
    
    .aakh {
        width: 100%;
        height: auto; /* Allow it to expand based on content */
    }

  }
}



.masonry-item {
  padding: 7px 7px 0px 7px;
  margin-bottom: 10px;
  background: var(--Background_Purple);
  border-radius: 12px;
  width: 314px;
  overflow: hidden; /* to hide top */
  p {
    font-family: GS-regular;
    color: rgb(240, 236, 228);
    line-height: 1;
    text-align: center;
    font-weight: normal;
  }
  .social-name {
    z-index: 2; /* to hide top */
    position: relative; /* to hide top */
    background: var(--Background_Purple); /* to hide top */
    padding-bottom: 1px; /* to hide top */
    padding-top: 1px; /* to hide top */
    height: 40px;
    a {
      position: relative;
      top: -38px;
      font-family: GS-regular;
      font-size: 20px;
      line-height: 1;
      text-align: center !important;
    }
    .social-wl-button {
      z-index: 3;
      position: relative;
      top: -5px;
      left: 260px;
      width: 30px;
    }
  }
  .social-date {
    font-size: 14px;
    z-index: 1; /* to hide top */
    position: relative; /* to hide top */
    background: var(--Background_Purple); /* to hide top */
    padding-bottom: 15px; /* to hide top */
  }
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 0 !important;
  }
  iframe {
    position: relative; /* to hide top */
    top: -65px; /* to hide top */
    min-width: 200px !important;
    max-width: 300px !important;
    max-height: 428px;
    margin: 0 !important;
  }
  .social-stats {
    position: relative; /* to hide top */
    top: -50px; /* to hide top */
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    p {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
  }
  .social-desc {
    position: relative; /* to hide top */
    top: -30px; /* to hide top */
    font-size: 14px;  
    margin: 0;
  }
}


/* ----------------------------
5.2. DISCOVER & C_DISCOVER individual classes
Live: past & future table: center second column vertically */
.anvil-role-pos-center-vertical .data-row-col:nth-child(2) {
  display: flex;
  align-items: center;
}


/* ----------------------------
5.3. OBSERVE_LISTEN individual classes */
.anvil-role-listen-complete-element {
  height: calc(100vh + 260px);
  overflow-y: auto;
}
.anvil-role-listen-left-element {
  height: calc(95vh - 85px);
}
.anvil-role-listen-right-element {
  height: calc(95vh - 85px);
}
